@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto Slab', serif;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 88%;
  margin: auto;
}

.head_container {
  max-width: 90%;
  margin: auto;
}

/*--------------header--------*/
header {
   height: 12vh;
   background-color: lightblue
}

.logo img {
  width: 120px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.hambuger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li {
  margin-left: 3rem;
}

header ul li a {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  transition: 0.5s;
}

header ul li a:hover {
  color: #C1B086;
}

@media only screen and (max-width: 768px) {
  header ul {
    display: block;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 20;
  }

  header ul.active {
    left: 0%;
  }

  header ul li {
    margin: 2.5rem 0;
  }

  header ul li a {
    color: black;
  }

  .hambuger {
    display: block;
    cursor: pointer;
  }

  .hambuger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hambuger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hambuger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*--------------header--------*/
/*--------------home--------*/
.home .image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.home .text {
  max-width: 50%;
  color: white;
  margin: 15% 0 0 10%;
}

.home h1 {
  font-size: 80px;
  font-weight: 400;
}

.home p {
  font-weight: 400;
  line-height: 25px;
  font-family: sans-serif;
  font-size: 17px;
  margin: 50px 0 0 50px;
}

button {
  padding: 10px 30px;
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  margin-top: 10px;
}

.home button {
  margin-left: 50px;
}

.home .image_item {
  position: absolute;
  top: 20%;
  right: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.home .image_item img {
  width: 140px;
  height: 94px;
  margin: 10px;
  transition: 0.5s;
}

.home .image_item img.active {
  border: 2px solid white;
}

.home .box .text {
  position: relative;
}

.home .box .text::after {
  position: absolute;
  content: 'H';
  font-size: 500px;
  top: -120%;
  font-weight: bold;
  opacity: 0.1;
}
/*--------------home--------*/
/*--------------order--------*/
.order table{
	width: 100%;
	border-collapse: collapse;
}
.order tr:nth-child(even) {
	background-color: #f2f2f2;
}
.order tr:hover{
	background:lightblue;
}
.order th{
	color:gray;
	font-size: 20px;
	border-bottom: 1px solid lightgray;
	padding: 10px;
}
.order td{
	color:black;
	font-size: 17px;
	border-bottom: 1px solid lightgray;
	padding: 6px;
}
.order a{
	color:#C1B086;
}
.order .MyRoomChart{
	display: inline-block;
  	margin-left: auto;
  	margin-right: auto;
}
.order .search input{
  width: 40%;
  padding: 10px;
  border: 1px solid rgb(192, 192, 192);
  outline: none;
  background: white ;
  color: black;
  font-size: 15px;
  border-radius: 8px;
  margin-top: -15px;
  margin-bottom: 0px;
}
.order .button input {
  width: 10%;
  padding: 13px;
  border: 0px solid rgb(192, 192, 192);
  outline: none;
  background:  #C1B086 ;
  margin-bottom: 30px;
  color: white;
  font-size: 15px;
  border-radius: 0px;
}

.order ::placeholder{
  color: rgb(192, 192, 192);
}
/*--------------order--------*/
/*--------------detail--------*/
.detail table{
	width: 65%;
	box-sizing:border-box;
	border-spacing: 8px;
}

.detail tr:hover{
	background:#ede9de;
}

.detail th{
	width: 25%;
	padding: 10px;
	text-align: right;
}
.detail td{
	color:black;
	font-size: 17px;
	padding: 8px;
	border: 1px solid rgb(192, 192, 192);
	border-radius: 8px;
	border-spacing: 8px;
}
.detail label{
	color:#C1B086;
	font-size: 20px;
}
/*--------------detail--------*/
/*--------------book--------*/
.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.book {
  margin-top: 10%;
  width: 100%;
  height: 20vh;
  color: white;
}

.book .input {
  background: #242e5a;
  padding: 20px 20px 40px 20px;
}

.book .search {
  background: #3f9cc1;
  padding: 20px;
}

input {
  width: 100%;
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  background: #263760;
  margin-top: 20px;
  color: white;
}

::placeholder {
  color: white;
}

.book .search {
  width: 20%;
}

.book .search input {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
}

/*--------------book--------*/
/*--------------about--------*/
.top {
  margin-top: 10%;
}

.mtop {
  margin-top: 5%;
}

.left, .right {
  width: 50%;
}

.about {
  margin-bottom: 50px;
}

.about .img {
  position: relative;
}

.about .image1 {
  width: 310px;
  height: 450px;
}

.about .image2 {
  width: 325px;
  height: 220px;
  position: absolute;
  bottom: 5px;
  z-index: 2;
  right: 30%;
}

.heading {
  position: relative;
}

.heading::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 200px;
  height: 4px;
  background: #C1B086;
}

.heading h5 {
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #5f5f5f;
}

.heading h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 40px 0;
  color: #222222;
}

.heading p {
  margin-bottom: 20px;
  line-height: 25px;
  color: #5f5f5f;
  margin: 0 0 20px 50px;
}

.heading .btn1 {
  margin: 50px 0 20px 50px;
}

.btn1 {
  background: #C1B086;
  color: white;
}
.btn1 a{
  background: #C1B086;
  color: white;
}
/*--------------about--------*/
/*--------------wrapper--------*/
.wrapper {
  background-image: url("../image/ami.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
}

.wrapper .text {
  background: #3f9cc1;
  padding: 50px;
  width: 40%;
  height: 600px;
  position: absolute;
  top: -13%;
  right: 10%;
  padding-top: 10%;
  color: white;
}

.wrapper .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
}

.wrapper h2 {
  font-weight: 400;
}

.wrapper p {
  margin: 20px 0 50px 0;
  line-height: 30px;
}

.wrapper i {
  margin: 5px 20px 0 0;
}

/*--------------wrapper--------*/
/*--------------room--------*/
.flex1 {
  display: flex;
  justify-content: space-between;
}

.room .grid {
  grid-template-columns: repeat(3, 1fr);
}

.room img {
  width: 100%;
  height: 100%;
}

.room .box {
  box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);
}

.room .text {
  padding: 20px;
}
.room .textX span a{	
  color: grey;
  padding: 60px;
  font-size: 15px;
}
.room .textX span a:hover{
  color:#C1B086;
  padding: 60px;
  font-size: 15px;
  
}
.inputAdd input{
  width: 100%;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  background: #C1B086;
  margin: 60px 150px 0px -15px;
  color: white;
  border-radius: 12px;
}
.room a h3 {
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px;
  color: black
}

.room a h3:hover {
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #C1B086;
}

.room span {
  font-size: 12px;
  color: grey;
}

.room label {
  font-size: 17px;
}

/*--------------room--------*/
/*--------------wrapper2--------*/
.wrapper2 {
  background-image: url("../image/w1.jpg");
}

.wrapper2 .text {
  left: 10%;
}

.wrapper2 h5,
.wrapper2 h2 {
  color: white;
}

.wrapper2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.wrapper2 .para h5 {
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
}

.wrapper2 .para {
  margin-left: 10%;
}

/*--------------wrapper2--------*/
/*--------------restaurant--------*/
.restaurant img {
  width: 100%;
  height: 100%;
}

.restaurant .right {
  padding: 5px 30px 10px 120px;
}

.restaurant h2 {
  margin-bottom: 40px;
  font-weight: 300;
}

.restaurant .text p {
  margin-bottom: 50px;
  line-height: 25px;
}

.restaurant label{
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  font-weight: 400;
  font-size: 17px;
  color: #C1B086;
  margin-bottom: 0px;
}
.restaurant table{
	border-spacing: 6px;
}

.restaurant input{
  width: 100%;
  padding: 0px;
  outline: none;
  background: white ;
  color: black;
  font-size: 15px;
  border-radius: 8px;
  margin: 0 120px 0 0;
}

.restaurant button {
   width: 100%;
  padding: 13px;
  border: 0px solid  white;;
  outline: none;
  margin-top: 20px;
  color: white;
  border-radius: 0px;
}
.restaurant td{
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(192, 192, 192);
  outline: none;
  background: white ;
  color: black;
  font-size: 15px;
  border-radius: 8px;
  margin: 0 120px 0 0;
}
.restaurant .inputX {
  width: 100%;
  padding: 13px;
  border: 0px solid rgb(192, 192, 192);
  outline: none;
  background:  #C1B086 ;
  margin-top: 2px;
  color: white;
  font-size: 15px;
  border-radius: 0px;
}

.restaurant ::placeholder{
  color: rgb(192, 192, 192);
}
.accordionItem {
  margin-top: 30px;
}

.accordionItem p {
  font-size: 15px;
  opacity: 0.8;
  font-family: sans-serif;
  line-height: 20px;
}

.accordionIHeading {
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  font-weight: 400;
  font-size: 17px;
  color: #C1B086;
  margin-bottom: 20px;
}

.close .accordionItemContent {
  height: 0px;
  transition: height 1s ease-out;
  transform: scaleY(0);
  float: left;
  display: block;
  background-color: #fff;
}

.open .accordionItemContent {
  padding: 30px;
  background-color: #fff;
  width: 100%;
  margin: 0 0 10px 0;
  display: block;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
  box-sizing: border-box;
  box-shadow: 0 13px 43px 0 rgb(37 46 89 / 10%);
}

/*--------------restaurant--------*/
/*--------------gallary--------*/
.gallary img {
  width: 270px;
  height: 350px;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  height: 50px;
  position: absolute;
  width: 50px;
  cursor: pointer;
  top: 35%;
  background: white !important;
  transition: 0.5s;
}

.owl-carousel .owl-prev {
  left: 33px;
}

.owl-carousel .owl-next {
  right: 33px;
}

.owl-carousel .owl-next:hover,
.owl-carousel .owl-prev:hover {
  background: #C1B086 !important;
}

/*--------------gallary--------*/
/*--------------map--------*/
.map iframe {
  width: 100%;
}

/*--------------map--------*/
/*--------------footer--------*/
footer h3 {
  margin-bottom: 20px;
}

footer li {
  margin-bottom: 15px;
  transition: 0.5s;
}

footer li:hover {
  color: #C1B086;
  cursor: pointer;
}

/*--------------footer--------*/
@media only screen and (max-width:768px) {
  .home .box .text {
    max-width: 100%;
  }

  .home .box .text::after,
  .home .image_item {
    display: none;
  }

  .restaurant .container,
  .about .container,
  .book .container {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .book {
    margin-top: 10%;
    height: auto;
  }

  .book .search {
    width: 100%;
  }

  .book .search input {
    margin-top: 0;
  }

  .left, .right {
    width: 100%;
  }

  .wrapper .text {
    width: 80%;
  }

  .room {
    margin-bottom: 100px;
  }

  .room .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .restaurant .right {
    padding: 0;
    margin-top: 50px;
  }

  footer .payment {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width:768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .home .text {
    margin: 10% 0 0 0;
  }

  .home h1 {
    font-size: 40px;
  }

  .about p,
  .home p {
    margin: 50px 0 0 0;
  }

  .wrapper .text {
    padding: 10px;
    height: 600px;
  }

  .heading_top {
    margin-top: 100px;
  }

  .heading_top button {
    display: none;
  }

  .restaurant .flex {
    flex-direction: column-reverse;
  }
}