<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<title>Hotel Website</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>
	<header class="header" id="navigation-menu">
		<div class="container">
			<nav>
				<a th:href="@{/}" class="logo"> <img th:src="@{/image/logo.png}" alt=""> </a>

				<ul class="nav-menu">
					<li> <a th:href="@{/adminpage}">Home</a></li>
					<li> <a th:href="@{/manageRoom}">Manage room</a> </li>
					<li> <a th:href="@{/statistical}">Statistical</a> </li>
					<li> <a th:href="@{/customers}">Customer</a> </li>
					<li>
						<label th:text="${session.username}" th:value="${session.username}"></label>
					</li>

					<li> <a th:href="@{/}">Log out</a> </li>


				</ul>
			</nav>
		</div>
	</header>

	<section class="restaurant mtop" id="restaurant">
		<form method="POST" th:action="@{/manageRoom/add}" th:object="${room}">
			<div class="container">
				<div class="heading">
					<h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
					<h2>Add Room</h2>
				</div>
			</div>
			<div class="container flex">
				<div class="left">
					<img th:src="@{/image/r9.jpg}"
								alt="">
				</div>
				<div class="right">

					<h2> Information </h2>
					<table cellspacing="5" border="0">
						<tr>
							<th align="right"><label for="id">Id: </label></th>
							<td align="right"><input type="text" th:field="*{code}" placeholder="Id" /></td>
						</tr>
						<tr>
							<th align="right"><label for="name">Name: </label></th>
							<td align="right"><input type="text" th:field="*{name}" placeholder="Name" /></td>
						</tr>
						<tr>
							<th align="right"><label for="description">Description: </label></th>
							<td align="right"><input type="text" th:field="*{description}" placeholder="Description" />
							</td>
						</tr>
						<tr>
							<th align="right"><label for="description">Type: </label></th>
							<td align="right"><input type="text" th:field="*{type}" placeholder="Type" />
							</td>
						</tr>
						<tr>
							<th align="right"><label for="price">Price: </label></th>
							<td align="right"><input type="text" th:field="*{price}" placeholder="Price" /></td>
						</tr>
						<tr>
							<th align="right"><label for="image">Image: </label></th>
							<td align="right"><input type="text" th:field="*{room_img}" placeholder="Image" /></td>
						</tr>
						<tr>
							<th align="right"><label for="available">Sale Off: </label></th>
							<td align="right"><input type="text" th:field="*{saleoff}" placeholder="Sale Off" /></td>
						</tr>
					</table><br>

					<input class="inputX" type="submit" value="SUBMIT">


				</div>
			</div>
		</form>
	</section>

	<footer>
		<div class="container grid top">
			<div class="box">
				<img
					src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/48/000000/external-hotel-hotel-services-and-city-elements-flatart-icons-flat-flatarticons-1.png" />
				<p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
					id
					est laborum.</p>

				<p>Accepted payment methods</p>
				<div class="payment grid">
					<img src="https://img.icons8.com/color/48/000000/visa.png" />
					<img src="https://img.icons8.com/color/48/000000/mastercard.png" />
					<img src="https://img.icons8.com/color-glass/48/000000/paypal.png" />
					<img src="https://img.icons8.com/fluency/48/000000/amex.png" />
				</div>
			</div>

			<div class="box">
				<h3>Recent News</h3>

				<ul>
					<li>Our Secret Island Boat Tour Is Just for You</li>
					<li>Chill and Escape in Our Natural Shelters</li>
					<li>September in Luviana Hotel</li>
					<li>Live Music Concerts at Luviana</li>
				</ul>
			</div>

			<div class="box">
				<h3>For Customers</h3>
				<ul>
					<li>About Luviana</li>
					<li>Customer Care/Help</li>
					<li>Corporate Accounts</li>
					<li>Financial Information</li>
					<li>Terms & Conditions</li>
				</ul>
			</div>

			<div class="box">
				<h3>Contact Us</h3>

				<ul>
					<li>3015 Grand Ave, Cocount Grove, Merrick Way FL 123456</li>
					<li><i class="far fa-envelope"></i>demoexample@gmail.com </li>
					<li><i class="far fa-phone-alt"></i>123 456 7898 </li>
					<li><i class="far fa-phone-alt"></i>123 456 7898 </li>
					<li><i class="far fa-comments"></i>24/ 7 Customer Services </li>
				</ul>
			</div>
		</div>
	</footer>
</body>

</html>