<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<title>Details Customer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<header class="header" id="navigation-menu">
		<div class="container">
			<nav>
				<a th:href="@{/}" class="logo"> <img th:src="@{/image/logo.png}" alt=""> </a>

				<ul class="nav-menu">
					<li> <a href="#about" class="nav-link">About</a> </li>
					<li> <a th:href="@{/}">Home</a></li>
					<li> <a th:href="@{/rooms}">Manage room</a> </li>
					<li> <a th:href="@{/orders}">Order</a> </li>
					<li> <a th:href="@{/customers}">Customer</a> </li>
					<li> <a th:href="@{/login}">Login</a> </li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="detail mtop" id="detail">
		<div class="container">
			<div class="heading">
				<h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
				<h2>Details Customer</h2>
			</div>
			<table>
				<tr>
					<th><label for="id">Id: </label></th>
					<td th:text="${user.id}">Id</td>
				</tr>
				<tr>
					<th><label for="name">Name: </label></th>
					<td th:text="${user.name}" >Name</td>
				</tr>
				<tr>
					<th><label for="birthday">Date of Birth: </label></th>
					<td th:text="${user.birthday}">Date of Birth</td>
				</tr>
				<tr>
					<th><label for="address">Address: </label></th>
					<td th:text="${user.address}">Address</td >
				</tr>
				<tr>
					<th><label for="phone">Phone Number: </label></th>
					<td th:text="${user.phone}">Phone Number</td >
				</tr>
				<tr>
					<th><label for="email">Email: </label></th>
					<td th:text="${user.email}">Email</td >
				</tr>
				<tr>
					<th><label for="username">Username: </label></th>
					<td th:text="${user.username}">Username</td>
				</tr>
				<tr>
					<th><label for="password">Password: </label></th>
					<td th:value="${user.password}" type="hidden" >******</td>
				</tr>
			</table><br>
		</div>

	</section>

	<footer>
		<div class="container grid top">
			<div class="box">
				<img
					src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/48/000000/external-hotel-hotel-services-and-city-elements-flatart-icons-flat-flatarticons-1.png" />
				<p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
					id
					est laborum.</p>

				<p>Accepted payment methods</p>
				<div class="payment grid">
					<img src="https://img.icons8.com/color/48/000000/visa.png" />
					<img src="https://img.icons8.com/color/48/000000/mastercard.png" />
					<img src="https://img.icons8.com/color-glass/48/000000/paypal.png" />
					<img src="https://img.icons8.com/fluency/48/000000/amex.png" />
				</div>
			</div>

			<div class="box">
				<h3>Recent News</h3>

				<ul>
					<li>Our Secret Island Boat Tour Is Just for You</li>
					<li>Chill and Escape in Our Natural Shelters</li>
					<li>September in Luviana Hotel</li>
					<li>Live Music Concerts at Luviana</li>
				</ul>
			</div>

			<div class="box">
				<h3>For Customers</h3>
				<ul>
					<li>About Luviana</li>
					<li>Customer Care/Help</li>
					<li>Corporate Accounts</li>
					<li>Financial Information</li>
					<li>Terms & Conditions</li>
				</ul>
			</div>

			<div class="box">
				<h3>Contact Us</h3>

				<ul>
					<li>3015 Grand Ave, Cocount Grove, Merrick Way FL 123456</li>
					<li><i class="far fa-envelope"></i>demoexample@gmail.com </li>
					<li><i class="far fa-phone-alt"></i>123 456 7898 </li>
					<li><i class="far fa-phone-alt"></i>123 456 7898 </li>
					<li><i class="far fa-comments"></i>24/ 7 Customer Services </li>
				</ul>
			</div>
		</div>
	</footer>
</body>

</html>