<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<title>Room Details</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>

	<header class="header" id="navigation-menu">
		<div class="container">
			<nav>
				<a th:href="@{/}" class="logo"> <img th:src="@{/image/logo.png}" alt=""> </a>

				<ul class="nav-menu">
					<li> <a th:href="@{/adminpage}">Home</a></li>
					<li> <a th:href="@{/manageRoom}">Manage room</a> </li>
					<li> <a th:href="@{/statistical}">Statistical</a> </li>
					<li> <a th:href="@{/customers}">Customer</a> </li>
					<li>
						<label th:text="${session.username}" th:value="${session.username}"></label>
					</li>

					<li> <a th:href="@{/}">Log out</a> </li>


				</ul>
			</nav>
		</div>
	</header>

	<section class="restaurant mtop" id="restaurant">
		<div class="container">
			<div class="heading">
				<h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
				<h2>Room Details</h2>
			</div>
		</div>
		<div class="container flex">
			<div class="left">
				<img th:src="${room.room_img}" alt="">
			</div>
			<div class="right">
				<div class="text">
					<label>Room name</label>
					<h2 th:text="${room.name}">Tên phòng</h2>
				</div>
				<div class="accordionWrapper">
					<div class="accordionItem open">
						<h2 class="accordionIHeading">Description</h2>
						<div class="accordionItemContent">
							<p th:text="${room.description}">Phòng đôi rộng 50 mét vuông và có hướng nhìn ra vườn hoa.
							</p>
						</div>
					</div>
					<div class="accordionItem close">
						<h2 class="accordionIHeading">Type</h2>
						<div class="accordionItemContent">
							<p th:text="${room.type}">
							</p>
						</div>
					</div>
					<div class="accordionItem close">
						<h2 class="accordionIHeading">Price</h2>
						<div class="accordionItemContent">
							<p><span th:text="${room.price}" th:value="${room.price}"></span> $/per night
							</p>
						</div>
					</div>
					<div class="accordionItem close">
						<h2 class="accordionIHeading">Sale of</h2>
						<div class="accordionItemContent">
							<p>Sale off <span th:text="${room.saleoff}" th:value="${room.saleoff}"></span> price
							</p>
						</div>
					</div>
					<div class="accordionItem close">
						<h2 class="accordionIHeading">Room ID</h2>
						<div class="accordionItemContent">
							<p>ID <span th:text="${room.code}" th:value="${room.price}"></span>
							</p>
						</div>
					</div>
				</div>

				<a th:href="@{/manageRoom}"><button class="btn1">RETURN</button></a>

			</div>
		</div>
	</section>
	<script>
		var accItem = document.getElementsByClassName('accordionItem');
		var accHD = document.getElementsByClassName('accordionIHeading');

		for (i = 0; i < accHD.length; i++) {
			accHD[i].addEventListener('click', toggleItem, false);
		}

		function toggleItem() {
			var itemClass = this.parentNode.className;
			for (var i = 0; i < accItem.length; i++) {
				accItem[i].className = 'accordionItem close';
			}
			if (itemClass == 'accordionItem close') {
				this.parentNode.className = 'accordionItem open';
			}
		}
	</script>
	<footer>
		<div class="container grid top">
			<div class="box">
				<img
					src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/48/000000/external-hotel-hotel-services-and-city-elements-flatart-icons-flat-flatarticons-1.png" />
				<p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
					id
					est laborum.</p>

				<p>Accepted payment methods</p>
				<div class="payment grid">
					<img src="https://img.icons8.com/color/48/000000/visa.png" />
					<img src="https://img.icons8.com/color/48/000000/mastercard.png" />
					<img src="https://img.icons8.com/color-glass/48/000000/paypal.png" />
					<img src="https://img.icons8.com/fluency/48/000000/amex.png" />
				</div>
			</div>

			<div class="box">
				<h3>Recent News</h3>

				<ul>
					<li>Our Secret Island Boat Tour Is Just for You</li>
					<li>Chill and Escape in Our Natural Shelters</li>
					<li>September in Luviana Hotel</li>
					<li>Live Music Concerts at Luviana</li>
				</ul>
			</div>

			<div class="box">
				<h3>For Customers</h3>
				<ul>
					<li>About Luviana</li>
					<li>Customer Care/Help</li>
					<li>Corporate Accounts</li>
					<li>Financial Information</li>
					<li>Terms & Conditions</li>
				</ul>
			</div>

			<div class="box">
				<h3>Contact Us</h3>

				<ul>
					<li>3015 Grand Ave, Cocount Grove, Merrick Way FL 123456</li>
					<li><i class="far fa-envelope"></i>demoexample@gmail.com </li>
					<li><i class="far fa-phone-alt"></i>123 456 7898 </li>
					<li><i class="far fa-phone-alt"></i>123 456 7898 </li>
					<li><i class="far fa-comments"></i>24/ 7 Customer Services </li>
				</ul>
			</div>
		</div>

	</footer>
</body>

</html>