<header class="header" id="navigation-menu">
		<div class="container">
			<nav>
				<a href="#" class="logo"> <img src="image/logo.png" alt=""> </a>

				<ul class="nav-menu">
					<li> <a href="#about" class="nav-link">About</a> </li>
					<li> <a th:href="@{/rooms}">Rooms</a> </li>
					<li> <a href="#restaurant" class="nav-link">Restaurant</a> </li>
					<li> <a href="#gallery" class="nav-link">Gallery</a> </li>
					<li> <a href="#contact" class="nav-link">Contact</a> </li>
					<li> <a th:href="@{/cart}" class="logomenu"> <img src="image/carticon.jpg" alt=""> </a> </li>
					<li> <a th:href="@{/}">Log out</a> </li>
				</ul>

				<div class="hambuger">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
			</nav>
		</div>
	</header>