<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title> Hotel Website </title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body
	<section class="room top" id="room">
		<div class="container">
			<div class="heading_top flex1">
				<div class="heading">
					<h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
					<h2>Rooms $ Suites</h2>
				</div>
				<div class="button">
					<input type="submit" class="btn1"  value="VIEW ALL">
				</div>
				
			</div>
			<div class="content grid">
				<div th:each="room : ${listroom}">

					<div class="box">
						<div class="img">
							<img th:src="${room.room_img}" alt="lỗi ảnh">
						</div>
						<div class="text">
							<h3>
								<th:value="${room.name}" th:text="${room.name}">
							</h3>
							<h3>
								<th:value="${room.type}" th:text="${room.type}">
							</h3>
							<p> <span>$</span> <label th:value="${room.price}" th:text="${room.price}"></label>
								<span>/per night</span>
							</p>
							<div class="button">
								<a th:href="@{'/cart?id='+${room.code}}"><button class="btn1">Add To Cart</button></a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container grid top">
			<div class="box">
				<img
					src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/48/000000/external-hotel-hotel-services-and-city-elements-flatart-icons-flat-flatarticons-1.png" />
				<p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
					est laborum.</p>

				<p>Accepted payment methods</p>
				<div class="payment grid">
					<img src="https://img.icons8.com/color/48/000000/visa.png" />
					<img src="https://img.icons8.com/color/48/000000/mastercard.png" />
					<img src="https://img.icons8.com/color-glass/48/000000/paypal.png" />
					<img src="https://img.icons8.com/fluency/48/000000/amex.png" />
				</div>
			</div>

			<div class="box">
				<h3>Recent News</h3>

				<ul>
					<li>Our Secret Island Boat Tour Is Just for You</li>
					<li>Chill and Escape in Our Natural Shelters</li>
					<li>September in Luviana Hotel</li>
					<li>Live Music Concerts at Luviana</li>
				</ul>
			</div>

			<div class="box">
				<h3>For Customers</h3>
				<ul>
					<li>About Luviana</li>
					<li>Customer Care/Help</li>
					<li>Corporate Accounts</li>
					<li>Financial Information</li>
					<li>Terms & Conditions</li>
				</ul>
			</div>

			<div class="box">
				<h3>Contact Us</h3>

				<ul>
					<li>3015 Grand Ave, Cocount Grove, Merrick Way FL 123456</li>
					<li><i class="far fa-envelope"></i>demoexample@gmail.com </li>
					<li><i class="far fa-phone-alt"></i>123 456 7898 </li>
					<li><i class="far fa-phone-alt"></i>123 456 7898 </li>
					<li><i class="far fa-comments"></i>24/ 7 Customer Services </li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>