<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<title>Statistics</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>
	<header class="header" id="navigation-menu">
		<div class="container">
			<nav>
				<a th:href="@{/}" class="logo"> <img th:src="@{/image/logo.png}" alt=""> </a>

				<ul class="nav-menu">
					<li> <a th:href="@{/}">Home</a></li>
					<li> <a th:href="@{/manageRoom}">Manage room</a> </li>
					<li> <a th:href="@{/statistical}">Statistical</a> </li>
					<li> <a th:href="@{/customers}">Customer</a> </li>
					<li>
						<label th:text="${session.username}" th:value="${session.username}"></label>
						<ul class="nav-menu">
							<li> <a th:href="@{/}">Log out</a> </li>
							<ul>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="order mtop" id="order">
		<div class="container">
			<div class="heading">
				<h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
				<h2>Statistics</h2>
			</div>
			<table>
				<tr>
					<th>Room ID</th>
					<th>Room Name</th>
					<th>Total Revenue</th>
					<th></th>
				</tr>
				<tr th:each="product : ${products}" valign="top">
					<td th:text="${product.productCode}">code</td>
					<td th:text="${product.productDescription}">description</td>
					<td th:text="${product.productPrice}">price</td>
				</tr>
				<tr>
					<td>Id</td>
					<td>Room</th>
					<td>Customer</td>
					<td>Date In</td>
					<td>Date Out</td>
				</tr>
				<tr>
					<td>Id</td>
					<td>Room</th>
					<td>Customer</td>
					<td>Date In</td>
					<td>Date Out</td>
				</tr>
			</table><br>
		</div>

	</section>

	<footer>
		<div class="container grid top">
			<div class="box">
				<img
					src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/48/000000/external-hotel-hotel-services-and-city-elements-flatart-icons-flat-flatarticons-1.png" />
				<p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
					id
					est laborum.</p>

				<p>Accepted payment methods</p>
				<div class="payment grid">
					<img src="https://img.icons8.com/color/48/000000/visa.png" />
					<img src="https://img.icons8.com/color/48/000000/mastercard.png" />
					<img src="https://img.icons8.com/color-glass/48/000000/paypal.png" />
					<img src="https://img.icons8.com/fluency/48/000000/amex.png" />
				</div>
			</div>

			<div class="box">
				<h3>Recent News</h3>

				<ul>
					<li>Our Secret Island Boat Tour Is Just for You</li>
					<li>Chill and Escape in Our Natural Shelters</li>
					<li>September in Luviana Hotel</li>
					<li>Live Music Concerts at Luviana</li>
				</ul>
			</div>

			<div class="box">
				<h3>For Customers</h3>
				<ul>
					<li>About Luviana</li>
					<li>Customer Care/Help</li>
					<li>Corporate Accounts</li>
					<li>Financial Information</li>
					<li>Terms & Conditions</li>
				</ul>
			</div>

			<div class="box">
				<h3>Contact Us</h3>

				<ul>
					<li>3015 Grand Ave, Cocount Grove, Merrick Way FL 123456</li>
					<li><i class="far fa-envelope"></i>demoexample@gmail.com </li>
					<li><i class="far fa-phone-alt"></i>123 456 7898 </li>
					<li><i class="far fa-phone-alt"></i>123 456 7898 </li>
					<li><i class="far fa-comments"></i>24/ 7 Customer Services </li>
				</ul>
			</div>
		</div>
	</footer>
</body>

</html>
